html,
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  
  display: block;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
}

input {
  margin-bottom: 20px;
  margin-right: 15px;
  width: 150px;
}